:root {
  --barva-zvyrazneni: rgb(111, 110, 131);
  --barva-celeho-pozadi: rgb(230, 226, 226);
  --barva-nadpisu: rgb(74, 74, 122);
}
body {
  background-color: var(--barva-celeho-pozadi);
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: var(--barva-nadpisu);
}
img {
  width: 200px;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  border: 2px ridge var(--barva-zvyrazneni);
}

.osobni-info {
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0px, 4px, 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid grey;
  background-color: white;
}

.email,
.odkaz {
  color: rgb(59, 59, 139);
  text-decoration: underline;
}

.email:hover,
.odkaz:hover {
  text-decoration: none;
  color: red;
}

.profesni-zkusenosti,
.vzdelani,
.dovednosti {
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0px, 4px, 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid grey;
  background-color: white;
}

table:hover {
  background-color: #e0e0e0;
}

table {
  width: 100%;
  margin: 20px 0; /* Používáme zde margin i když zatím nevíme, co přesně dělá */
  border: solid var(--barva-zvyrazneni) 0.7px;
}

.dovednosti td {
  border: 1px solid grey;
}

.dovednosti thead {
  background-color: var(--barva-celeho-pozadi);
}

thead:hover {
  background-color: #e0e0e0;
}

.dovednosti-table {
  border-collapse: collapse;
  border-color: rgb(138, 137, 137);
}
